* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, #000000, #23a0f5 100%);
}

section {
  color: white;
  text-align: center;
}

button {
  flex: 10;
  border-radius: 15px;
  font-weight: 1000;
  height: 100%;
  font-size: 1rem;
  background-color: #23a0f5;
  color: white;
  padding: 12px;
  cursor: pointer;
  border: none;
}

a {
  color: white;
}

div {
  text-align: center;
}

footer {
  text-align: center;
  color: white;
}
